<script>
    $(function () {
        $("#gsc-i-id1").on("swipe", swipeHandler);

        function swipeHandler(event) {
            alert(event.target);
//            $("#" + event.target.id).remove();

        }
    });
</script>

<div id="col1">
  <div class="bandeau navbar  navbar-fixed-top">
    <div class="mytable">
      <%= form_for(@search, remote: true) do |f| %>
          <div class="tablecell search_input">
            <%= f.text_field(:keywords,
                             {size: 50, class: "gsc-input", id: "gsc-i-id1", autocomplete: "off", spellcheck: "false",
                              onclick: "$(this).css(\"color\", \"black\");this.value = ''"})
            %>
          </div>
          <div class="tablecell gosearch">
            <%= f.button("searches",
                         id: "go",
                         class: "btn btn-default",

                         onclick: "$('#search_icon').addClass('glyphicon-refresh spinning');") do
              content_tag(:span, nil, id: 'search_icon', class: 'glyphicon-left glyphicon glyphicon-search')
            end
            %>
          </div>
      <% end %>
      <div class="tablecell gosearch">
        <%= button_tag("share", class: "btn btn-default", data: {toggle: "collapse", target: "#demo"}) do
          content_tag(:span, nil, id: 'share_icon', class: 'glyphicon-left glyphicon glyphicon-share')
        end %>
      </div>
        <div class="tablecell gosearch">
        <%= button_tag("history", class: "btn btn-default", data: {toggle: "collapse", target: "#demo"}) do
          content_tag(:span, nil, id: 'history_icon', class: 'glyphicon-left glyphicon glyphicon-list-alt')
        end %>
      </div>
    </div>
  </div>
</div>

