<script>
    $(document).ready(function () {
        $("#gsc-i-id1").change(function () {
            if ($(this).val() == 'Enter your keywords') {
                $(this).css('color', '#c2c0c0');
            }
            else {
                $(this).css('color', 'black');
            }
        });
        $("#gsc-i-id1").keydown(function () {
            if ($(this).val() == 'Enter your keywords') {
                $(this).val('');
            }
            else {

            }
        });
        $("#gsc-i-id1").keyup(function () {
            if ($(this).val() == "") {
                $(this).val('Enter your keywords');
                $(this).css('color', '#c2c0c0');
            }
            else {
                $(this).css('color', 'black');
            }
        });
        $("#gsc-i-id1").click(function () {
            if ($(this).val() == 'Enter your keywords') {
                $(this).val('');
                $(this).css('color', 'black');
            }
            else {
                $(this).val($(this).val());
            }

        });
    });
    $(function () {
        $("#gsc-i-id1").on("swipe", swipeHandler);

        function swipeHandler(event) {
            alert(event.target);
//            $("#" + event.target.id).remove();

        }
    });


</script>

<div id="col1">
  <div class="bandeau navbar  navbar-fixed-top">
    <div class="mytable">
      <div class="tablecell">
        <%= form_for(@search, methode: :post, action: :searches, remote: true) do |f| %>
            <div class="tablecell">
              <%= f.text_field(:keywords,
                               {size: 50, class: "gsc-input", id: "gsc-i-id1", autocomplete: "off", spellcheck: "false",
                                onclick: "onclick"})
              %>
            </div>
            <div class="tablecell">
                  <%= button_tag(type: "button",
                               class: "btn btn-default",
                               onclick:  "$('#gsc-i-id1').val('')") do
                    content_tag(:span, nil, id: 'remove_icon', class: ' glyphicon glyphicon-remove')
                  end
                  %>
                </div>

            <div class="tablecell">
              <%= f.button("searches",
                           id: "go",
                           class: "btn btn-default",
                           onclick: "setCookie('keywords', $('#gsc-i-id1').val());$('#search_icon').addClass('glyphicon-refresh spinning');addToHistory($('#gsc-i-id1').val());") do
                content_tag(:span, nil, id: 'search_icon', class: 'glyphicon-left glyphicon glyphicon-search')
              end
              %>
            </div>
        <% end %>
        <%= button_tag("favorite",
                       class: "btn btn-default gsc-input",
                       onclick: "addToFavorites($('#gsc-i-id1').val());") do
          content_tag(:span, nil, id: 'favorite_icon', class: 'glyphicon-left glyphicon glyphicon-heart')
        end %>
      </div>
    </div>

    <!--- share ------------------------------------------------------------------------------------------------>
    <div class="mytable">
      <div class="tablecell">
        <%= link_to(new_share_path, class: "btn btn-default gsc-input", remote: true, onclick: "") do
          content_tag(:span, nil, id: 'share_icon', class: 'glyphicon-left glyphicon glyphicon-share')
        end %>
      </div>
      <!--- history - favorite ------------------------------------------------------------------------------------->
      <div class="tablecell">
        <%= link_to(histories_path, class: "btn btn-default gsc-input", remote: true, onclick: "$(\"#gsc-i-id1\").val(\"Enter your keywords\");") do
          content_tag(:span, nil, id: 'history_icon', class: 'glyphicon-left glyphicon glyphicon-list-alt')
        end %>
      </div>
      <div class="tablecell">
        <%= button_tag("scroll up", class: "btn btn-default gsc-input", onclick: "$('html, body').animate({
                   scrollTop: 0
               }, 700); ") do
          content_tag(:span, nil, id: 'scroll_up_icon', class: 'glyphicon-left glyphicon glyphicon-arrow-up')
        end %>
      </div>
      <div class="tablecell">
        <%=
            button_tag("scroll down", class: "btn btn-default gsc-input", onclick: "$('html, body').animate({
          scrollTop: $(document).height()
          }, 700); ") do
              content_tag(:span, nil, id: 'scroll_down_icon', class: 'glyphicon-left glyphicon glyphicon-arrow-down')
            end
        %>
      </div>
    </div>
  </div>
</div>


