<script>
    $(function () {
        $("#gsc-i-id1").on("swipe", swipeHandler);

        function swipeHandler(event) {
            alert(event.target);
//            $("#" + event.target.id).remove();

        }
    });


</script>

<div id="col1">
  <div class="bandeau navbar  navbar-fixed-top">
    <div class="mytable">
      <div class="tablecell">
        <%= form_for(@search, remote: true) do |f| %>
            <div class="tablecell">
              <%= f.text_field(:keywords,
                               {size: 50, class: "gsc-input", id: "gsc-i-id1", autocomplete: "off", spellcheck: "false",
                                onclick: "$(this).css(\"color\", \"black\");this.value = ''"})
              %>
            </div>
            <div class="tablecell">
              <%= f.button("searches",
                           id: "go",
                           class: "btn btn-default",

                           onclick: "$('#search_icon').addClass('glyphicon-refresh spinning');") do
                content_tag(:span, nil, id: 'search_icon', class: 'glyphicon-left glyphicon glyphicon-search')
              end
              %>
            </div>
        <% end %>
      </div>

    </div>
    <div class="mytable">
      <div class="tablecell">
        <%= button_tag("share", class: "btn btn-default gsc-input", data: {toggle: "collapse", target: "#demo"}) do
          content_tag(:span, nil, id: 'share_icon', class: 'glyphicon-left glyphicon glyphicon-share')
        end %>
      </div>
      <div class="tablecell">
        <%= link_to(histories_path, class: "btn btn-default gsc-input", remote: true) do
          content_tag(:span, nil, id: 'history_icon', class: 'glyphicon-left glyphicon glyphicon-list-alt')
        end %>
      </div>
      <div class="tablecell">
        <%= button_tag("scroll up", class: "btn btn-default gsc-input", onclick: "$('html, body').animate({
                   scrollTop: 0
               }, 700); ") do
          content_tag(:span, nil, id: 'scroll_up_icon', class: 'glyphicon-left glyphicon glyphicon-arrow-up')
        end %>
      </div>
      <div class="tablecell">
        <%=
            button_tag("scroll down", class: "btn btn-default gsc-input", onclick: "$('html, body').animate({
          scrollTop: $(document).height()
          }, 700); ") do
              content_tag(:span, nil, id: 'scroll_down_icon', class: 'glyphicon-left glyphicon glyphicon-arrow-down')
            end
        %>
      </div>
    </div>
  </div>
</div>


