<div id="results">

  <div class="panel-group" id="<%= "result_#{result.id.to_s}" %>">
    <div class="panel panel-success">
      <!-- debut header ----------------------------------------------------------------------------------------------->
      <div class="panel-heading">
        <div class="text-left">
          <a data-toggle="collapse" href="<%= "#collapse_#{result.id.to_s}" %>">
            <%= label_tag :toto, result['results'][0][1]['engines'][0]["title"], class: "list-group-item-text" %>
          </a>
        </div>
      </div>
      <!-- debug body ----------------------------------------------------------------------------------------------->
      <div id="<%= "collapse_#{result.id.to_s}" %>" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe id="<%= "iframe_#{result.id.to_s}" %>" class="embed-responsive-item" src="<%= result['results'][0][0] %>" width="350" height="300" style="border:2px; border-color: #398439;" sandbox>></iframe>
          </div>
        </div>
      </div>
      <!-- debut footer ----------------------------------------------------------------------------------------------->
      <div class="panel-footer">
        <% result['results'][0][1]['engines'].map { |engine| engine["name"] }.uniq.sort { |a, b| a<=>b }.map { |engine| %>
            <img src=<%= image_path(engine + ".png") %> class="float-left" alt=<%= engine %> width="20" height="20">

        <% } %>
        <%= button_tag "delete",
                       onclick: "$(\'#result_" + result.id.to_s + "\').remove()",
                       class: "btn btn-danger" do
          content_tag(:span, '', class: "glyphicon glyphicon-trash")
        end %>
        <%= button_tag "reload",
                       onclick: "document.getElementById(\'iframe_" + result.id.to_s + "\').src = document.getElementById(\'iframe_" + result.id.to_s + "\').src",
                       class: "btn btn-warning" do
          content_tag(:span, '', class: "glyphicon glyphicon-refresh")
        end %>
        <%= link_to result['results'][0][0], rel: "nofollow", target: :_blank, class: "btn btn-success" do

          content_tag(:span, '', class: "glyphicon glyphicon-play")

        end %>
      </div>
    </div>
  </div>
  <% if result_iteration.index == result_iteration.size - 1 %>

      <%= link_to "Next", results_path({:id => result.id,
                                        :index => result.index,
                                        :search_id => result.search_id}),
                  remote: true,
                  class: "btn btn-default",
                  id: "next" %>

  <% end %>

</div>
