<div class="panel-group" id="<%= "result_#{result.id.to_s}" %>">
  <div class="panel panel-success">
    <!-- debut header ----------------------------------------------------------------------------------------------->
    <div class="panel-heading">
      <div class=" text-left">
        <a data-toggle="collapse" href="<%= "#collapse_#{result.id.to_s}" %>">
          <%= label_tag URI(result['results'][0][0]).host, nil, class: "text-danger" %>
          <img src=<%= image_path(Result.favicon(URI(result['results'][0][0]).host)) %> class="img-circle" width="20" height="20">
          <%= label_tag result['results'][0][1]['engines'][0]["title"], nil, class: "text-success" %>
        </a>
      </div>

    </div>
    <!-- debug body ----------------------------------------------------------------------------------------------->
    <div id="<%= "collapse_#{result.id.to_s}" %>" class="panel-collapse collapse">
      <div class="panel-body">
        <strong>
          <ul class="list-group">
            <%= result['results'][0][1]['engines'].map { |engine| %>
                <li class="list-group-item text-success text-justify h5">
                  <img src=<%= image_path(engine["name"] + ".png") %> class="float-left" alt=engine["name"] width="20" height="20">
                  <%= engine["description"] %>
            <% }.join("") %>
          </ul>
        </strong>

        <div id="<%= "collapse_iframe_#{result.id.to_s}" %>" class="collapse in embed-responsive embed-responsive-16by9 ">
          <iframe id="<%= "iframe_#{result.id.to_s}" %>" class="embed-responsive-item" src="<%= result['results'][0][0] %>" width="350" height="350" style="border:2px; border-color: #398439;" sandbox>></iframe>
        </div>
      </div>
    </div>


    <!-- debut footer ----------------------------------------------------------------------------------------------->
    <div class="panel-footer">
      <%= button_tag "delete",
                     onclick: "$(\'#result_" + result.id.to_s + "\').trigger(\"swipe\", \'#result_" + result.id.to_s + "\' );",
                     class: "btn btn-danger" do
        content_tag(:span, '', class: "glyphicon glyphicon-trash")
      end %>
      <!--      <%= button_tag "view",
                               onclick: "$(\'#collapse_" + result.id.to_s + "\').click();",
                               class: "btn btn-primary",
                               alt: "Just have a look !",
                               data: {toggle: "collapse", target: "#collapse_iframe_#{result.id.to_s}"} do
      content_tag(:span, '', class: "glyphicon glyphicon-resize-full")
    end %>-->

      <%= link_to result['results'][0][0], rel: "nofollow", target: :_blank, class: "btn btn-success" do

        content_tag(:span, '', class: "glyphicon glyphicon-play")

      end %>
    </div>
  </div>
</div>
<% if result_iteration.index == result_iteration.size - 1 %>

    <%= link_to "", results_path({:id => result.id,
                                      :index => result.index,
                                      :search_id => result.search_id}),
                remote: true,
                id: "next",
                class: "btn btn-default glyphicon glyphicon-play"

    %>

<% end %>


