<p id="notice"><%= notice %></p>
keywords : <%= @search.keywords %>

<%  JSON.parse(@search.results).each { |url, properties|   %>
    <p><%= link_to properties[0]["title"], url, rel: "nofollow" , target: :_blank%>  <%= properties.map{|property| property["engine"]}.uniq %></p>
<% } %>

<br>
<%= @search.results %>

