<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "yhminall-6671761" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=320, initial-scale=1.0, shrink-to-fit=no">
  <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" %>
  <%= csrf_meta_tags %>


</head>
<style>

</style>
<body>
<div class="container fill">
  <div class="panel-heading"><%= render "shared/heading" %></div>
  <div class="panel-body">
    <%= yield %></div>
  <div class="panel-footer"><%= render "shared/footer" %></div>
</div>
</body>
</html>
